<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footerFragment">
    <div class="footer-main">
        <div class="footer-con">
            <div class="footer-top">
                <div class="footer-left">
                    <div class="left-sec1">
                        <h2>노원그린 컴퓨터학원</h2>
                    </div>

                    <div class="left-sec2">
                        <h3>대표번호 : 02.6953.2002</h3>
                        <div>
                            <span>평일 09:00~22:30</span>
                            <span>토요일 09:00~18:30</span>
                        </div>
                    </div>
                    <div class="left-sec3">
                        <div class="left">
                            <button>카카오톡문의</button>
                        </div>
                        <div class="right">
                            <h5> 월-토요일 / 오전 7시~오후 6시</h5>
                            <h5> 일/공휴일 / 오전 7시~오후 1시</h5>
                        </div>
                    </div>
                    <div class="left-sec4">
                        <div class="left">
                            <button>1:1문의</button>
                        </div>
                        <div class="right">
                            <h5> 365일</h5>
                            <h5> 고객센터 운영시간에 순차적으로 답변드리겠습니다.</h5>
                        </div>
                    </div>
                    <div class="left-sec5">
                        <div class="left">
                            <button>대량주문 문의</button>
                        </div>
                        <div class="right">
                            <h5> 월-금요일 : 오전9시~오후6시</h5>
                            <h5> 점심시간 : 낮12시~오후 1시</h5>
                        </div>
                    </div>

                </div>
                <div class="footer-right">
                    <div class="top">
                    <a th:href="@{/}">컬리소개</a>
                    <a th:href="@{/}">컬리소개영상</a>
                    <a th:href="@{/}">투자정보</a>
                    <a th:href="@{/}">인재채용</a>
                    <a th:href="@{/}">개인정보처리방침</a>
                    <a th:href="@{/}">이용안내</a>
                    </div>
                    <div class="middle">
                        <span>법인명 (상호) 주식회사 컬리</span><br>
                        <span>통신판매업 제 0000-서울노원-0000호</span><br>
                        <span>주소 : 서울특별시 강남구 테헤란로 000,00층(역삼동) | 대표팀장 안윤기</span><br>
                        <div>
                        <span>채용문의 : </span>
                        <span>0000@gmail.com</span>
                        </div>
                        <span>팩스 070-0000-0000</span>
                    </div>
                    <div class="bottom">
                        <a th:href="@{/}"><img th:src="@{/images/footer/instagram.webp}" alt="instagram"></a>
                        <a th:href="@{/}"><img th:src="@{/images/footer/fb.webp}" alt="instagram"></a>
                        <a th:href="@{/}"><img th:src="@{/images/footer/blog.webp}" alt="instagram"></a>
                        <a th:href="@{/}"><img th:src="@{/images/footer/naverpost.webp}" alt="instagram"></a>
                        <a th:href="@{/}"><img th:src="@{/images/footer/youtube.webp}" alt="instagram"></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</html>