<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kurlylayout}"
>


<th:block layout:fragment="title">
    <title>개인정보수정</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/update.css}">
</th:block>

<th:block layout:fragment="script">
<!--    <script th:src="@{/js/member/update.js}" defer ></script>-->
</th:block>

<th:block layout:fragment="container">
    <div class="container">
        <div class="container-con">
            <div class="customer-op">
                <div class="sec1-title">
                    마이페이지
                </div>
                <div class="sec2-op">
                    <ul>
                        <li>
                            <button type="button">
                                <a th:href="@{/order/{id}(id=${#authentication.principal.member.id})}">
                                    <ul>
                                        <li>주문내역</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                        <li>
                            <button type="button">
<!--                                <a th:href="@{carts/{memberId}(memberId=${#authentication.principal.member.id})}">-->
                                <a th:href="@{/cart/cart}">
                                    <ul>
                                        <li>장바구니</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <a th:href="@{/member/oauth2add}">
                                    <ul>
                                        <li>배송지 관리</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>

<!--                        <li>-->
<!--                            <button type="button">-->
<!--                                <a th:href="@{/}">-->
<!--                                    <ul>-->
<!--                                        <li>상품후기</li>-->
<!--                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>-->
<!--                                    </ul>-->
<!--                                </a>-->
<!--                            </button>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <button type="button">-->
<!--                                <a th:href="@{/}">-->
<!--                                    <ul>-->
<!--                                        <li>상품문의</li>-->
<!--                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>-->
<!--                                    </ul>-->
<!--                                </a>-->
<!--                            </button>-->
<!--                        </li>-->

                        <li>
                            <button type="button">
                                <a th:href="@{/member/update}">
                                    <ul>
                                        <li>개인정보수정</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="sec3-help">
                    <button type="button">
                        <a th:href="@{/}">
                            <div class="a-sec1">
                                <ul>
                                    <li>
                                        도움이 필요하신가요?
                                    </li>
                                    <li>
                                        1:1문의하기
                                    </li>
                                </ul>
                            </div>
                            <div class="a-sec2">
                                <img th:src="@{/images/arrow_r.png}" alt="이동">
                            </div>
                        </a>
                    </button>
                </div>
            </div>

            <div class="update">
                <div class="update-con">
                    <div class="update-header">
                    </div>

                    <h1>개인정보수정</h1>
                    <div class="update-header2">
                    </div>
                    <form th:action="@{/member/update}" method="post">
                        <ul>
                            <li>
<!--                                <label th:for="id">회원번호</label>-->
                                <input type="hidden" th:field="*{member.id}" th:value="${member.id}" readonly class="readonly">
                            </li>
                            <li>
                                <label th:for="email">이름</label>
                                <input type="text" th:field="*{member.name}" th:value="${member.name}" readonly class="readonly">
                            </li>
                            <li>
                                <label th:for="email">이메일</label>
                                <input type="email" th:field="*{member.email}" th:value="${member.email}" readonly class="readonly">
                            </li>
<!--                            <li>-->
<!--                                <label th:for="password">비밀번호<span>*</span></label>-->
<!--                                <input type="password" id="old_pw" th:field="*{member.password}" th:value="${member.password}" placeholder=" 비밀번호를 입력해 주세요"-->
<!--                                       onfocus="this.placeholder=''" onblur="this.placeholder='  비밀번호를 입력해 주세요'">-->
<!--                            </li>-->
                            <li>
                                <label th:for="password">새 비밀번호<span>*</span></label>
                                <input type="password" id="new_pw" th:field="*{member.password}" th:value="${member.password}" placeholder="새 비밀번호를 입력해 주세요"
                                       onfocus="this.placeholder=''" onblur="this.placeholder='  새 비밀번호를 입력해 주세요'">
                            </li>

                            <li>
                                <label th:for="phone">전화번호<span>*</span></label>
                                <input type="text" th:field="*{member.phone}" th:value="${member.phone}" placeholder=" 숫자만 입력해 주세요"
                                       onfocus="this.placeholder=''" onblur="this.placeholder='  숫자만 입력해 주세요'">

                            </li>
                            <li>
                                <label th:for="address">
                                    주소<span>*</span>
                                </label>
                                <input type="text" th:field="*{member.address.city}" th:value="${member.address.city}" placeholder=" 변경된 주소를 입력해 주세요"
                                       onfocus="this.placeholder=''" onblur="this.placeholder='  변경된 주소를 입력해 주세요'">
                            </li>

<!--                            <li>-->
<!--                                <label th:for="address">-->
<!--                                    주소-->
<!--                                </label>-->
<!--                                <input type="text" th:field="*{member.street}" th:value="${member.street}" placeholder=" 변경된 주소를 입력해 주세요"-->
<!--                                       onfocus="this.placeholder=''" onblur="this.placeholder='  변경된 주소를 입력해 주세요'">-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label th:for="address">-->
<!--                                    주소-->
<!--                                </label>-->
<!--                                <input type="text" th:field="*{member.zipcode}" th:value="${member.zipcode}" placeholder=" 변경된 주소를 입력해 주세요"-->
<!--                                       onfocus="this.placeholder=''" onblur="this.placeholder='  변경된 주소를 입력해 주세요'">-->
<!--                            </li>-->

                        </ul>
                        <div class="go-update">
                            <div>
                                <button type="button" id="deleteBtn">
                                    <a th:href="@{/member/delete/{id}(id=${member.id})}">회원 탈퇴</a>
                                </button>
<!--                                <button type="button" id="updateBtn">-->
<!--                                    <a th:href="@{/member/update}">회원 수정</a>-->
<!--                                </button>-->
                                <input type="submit" value="회원수정">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
