<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kurlyLayout}"
>
<th:block layout:fragment="title">
    <title>memberDetail</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/post/postDetail.css}">
</th:block>
<th:block layout:fragment="javascript">
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>-->
    <script th:src="@{/js/detail.js}" defer></script>
</th:block>
<th:block layout:fragment="container">
    <div class="container">
        <div class="detail">
            <div class="detail-con">
                <div class="detail-con-header">
                    <div class="sec1">
                        <h1>공지사항</h1>
                        <h4>컬리의 새로운 소식들과 유용한 정보들을 한곳에서 확인하세요</h4>
                    </div>
                </div>
                <div class="detail-con-form">
                    <form th:action="@{/post/postDetail}" method="post">
                        <ul>
                            <li>
                                <label th:for="id">번호</label>
                                <input type="text" id="id" name="id" th:value="${post.id}" readonly>
                                <!--                                <input type="text" id="id" name="id" readonly>-->
                            </li>
                            <li>
                                <label th:for="title">제목</label>
                                <input type="text" id="title" name="title" th:value="${post.title}" readonly>
                                <!--                                <input type="text" id="title" name="title" readonly>-->
                            </li>

                            <li>
                                <label th:for="writer">작성자</label>
                                <input type="text" id="writer" name="writer" th:value="${post.writer}" readonly>
                                <!--                                <input type="text" id="writer" name="writer" readonly>-->
                            </li>
<!--                            <li>-->
<!--                                <label th:for="1">1</label>-->
<!--                                <input type="text" id="1" name="1" th:value="${#authentication.principal.member.email}" readonly>-->
<!--                                &lt;!&ndash;                                <input type="text" id="writer" name="writer" readonly>&ndash;&gt;-->
<!--                            </li>-->
                            <li>
                                <label th:for="email">이메일</label>
                                <input type="text" id="email" name="email" th:value="${post.member.email}" readonly>
                                <!--                                <input type="text" id="writer" name="writer" readonly>-->
                            </li>


                            <li>
                                <label>작성일</label>

                                <label for="createTime">createTime</label>
                                <label th:if="${post.createTime} == null" th:for="updateTime">
                                    <input type="text" id="updateTime" name="updateTime"
                                           th:value="${#temporals.format(post.upDateTime,'yyyy-MM-dd HH:mm')}" readonly>
                                </label>

                                <label th:unless="${post.createTime} == null" th:for="createTime">
                                    <input type="text" id="createTime" name="createTime"
                                           th:value="${#temporals.format(post.createTime,'yyyy-MM-dd HH:mm')}" readonly>
                                </label>

                            </li>
                            <li>
                                <label th:for="content">내용</label>
                                <input type="text" id="content" name="content" th:value="${post.content}" readonly>
                                <!--                                <input type="textarea" id="content" name="content" readonly>-->
                            </li>
                            <li>
                                <label th:for="hit">조회수</label>
                                <input type="text" id="hit" name="hit" th:value="${post.hit}" readonly>
                                <!--                                <input type="textarea" id="content" name="content" readonly>-->
                            </li>
                        </ul>
                        <div class="sec2">
                            <th:block th:if="${#authentication.principal.member.email == post.member.email}">
                                <a th:href="@{/post/postDelete/{id}(id=${post.id})}">삭제</a>
                                <a th:href="@{/post/postUpdate/{id}(id=${post.id})}">수정</a>
                            </th:block>
<!--                            </th:block>-->
                            <a th:href="@{/post/postList}">목록</a>
                        </div>
                    </form>
                </div>

                <!-- 댓글 -->
                <div class="reply-con">

                    <div class="reply-list">
                        <!-- 댓글 리스트 -->
                        <table>
                            <tr>
                                <th>댓글번호</th>
                                <th>내용</th>
                                <th>작성자</th>
                                <th>작성시간</th>
                                <th>게시글번호</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                            <tr th:each="reply: ${replyList}">
                                <td th:text="${reply.id}"></td>
                                <td th:text="${reply.getContent}"></td>
                                <td th:text="${reply.member.name}"></td>
                                <td th:if="${reply.createTime} == null"
                                    th:text="${#temporals.format(reply.updateTime,'yyyy-MM-dd HH:mm')}"></td>
                                <td th:unless="${reply.createTime} == null"
                                    th:text="${#temporals.format(reply.createTime,'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${reply.post.id}"></td>
                                <th:block th:if="${#authentication.principal.member.email == reply.member.email}">
                                    <td><a th:href="@{/reply/update/{id}(id=${reply.id})}">수정</a></td>
                                    <td><a th:href="@{/reply/delete/{id}(id=${reply.id})}">삭제</a></td>
                                </th:block>
                                <th:block th:unless="${#authentication.principal.member.email == reply.member.email}">
                                    <td><span>수정불가</span></td>
                                    <td><span>삭제불가</span></td>
                                </th:block>
                            </tr>
                        </table>

                    </div>

                    <div class="reply-write">
                        <h1>댓글작성</h1>
                        <!-- 댓글 작성 -->
                        <form th:action="@{/reply/write}" method="post">
                            <!-- 게시글 번호 -->
                            <input type="hidden" readonly name="postId" th:value="${post.id}">
                            <!--                            <input type="hidden" readonly name="memberId" th:value="${post.member.id}">-->
                            <ul>
                                <li><textarea name="content" style="resize: none" id="content1"
                                              cols="80" rows="2" placeholder="내용작성"></textarea></li>
                                <li>
                                    <!--                                    <input type="text" name="replyWriter" placeholder="작성자">-->
                                    <input type="submit" value="댓글작성">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</th:block>
</html>