<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kurlylayout}"
>


<th:block layout:fragment="title">
    <title>고객센터</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/post/postInsert.css}">
</th:block>

<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/index.js}" defer ></script>-->
</th:block>

<th:block layout:fragment="container">
    <div class="container">
        <div class="container-con">
            <div class="customer-op">
                <div class="sec1-title">
                    고객센터
                </div>
                <div class="sec2-op">
                    <ul>
                        <li>
                            <button type="button">
                                <a th:href="@{/}">
                                    <ul>
                                        <li>공지사항</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <a th:href="@{/}">
                                    <ul>
                                        <li>리 뷰</li>
                                        <li><img th:src="@{/images/arrow_r.png}" alt="이동"></li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="sec3-help">
                    <button type="button">
                        <a th:href="@{/}">
                            <div class="a-sec1">
                                <ul>
                                    <li>
                                        도움이 필요하신가요?
                                    </li>
                                    <li>
                                        1:1문의하기
                                    </li>
                                </ul>
                            </div>
                            <div class="a-sec2">
                                <img th:src="@{/images/arrow_r.png}" alt="이동">
                            </div>
                        </a>
                    </button>
                </div>
            </div>
            <div class="postInsert">
                <div class="postInsert-con">

                    <div class="postInsert-header">
                        <h1>공지사항 작성</h1>
                        <h4>컬리의 새로운 소식들과 유용한 정보들을한곳에서 확인해 보세요 </h4>
                    </div>


                    <div class="postInsert-container">
                        <form th:action="@{/post/postInsert}" method="post">
                            <div class="PostInsert-form">
                                <ul>
                                    <li>
                                        <label th:for="title">제목</label>
                                        <input type="text" name="title" id="title" placeholder="제목">
                                    </li>
                                    <li>
                                        <label th:for="content">내용</label>
                                        <textarea cols="30" name="content" id="content" rows="5" placeholder="내용"></textarea>
                                    </li>
                                    <li>
                                        <label th:for="writer">닉네임</label>
                                        <textarea cols="30" name="writer" id="writer" ></textarea>
                                    </li>
<!--                                                        <li>-->
<!--                                                            <label th:for="writer">작성자</label>-->
<!--                                                            <input type="text" th:field="*{writer}" th:value="${writer}" readonly>-->
<!--                                                        </li>-->
<!--                                                        <p th:if="${#fields.hasErrors('writer')}">title error</p>-->
                                    <li>
                                        <input type="reset" value="초기화">
                                        <input type="submit" value="글작성실행">
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <div class="paging">
                            <ul>
                                <li>
                                    <!--페이징 보류  -->
                                    <!--                                    <span th:if="${1==postInsert.pageable.pageNumber+1}"></span>-->
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>