<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kurlylayout}"
>

<th:block layout:fragment="title">
    <title>index</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/index.js}" defer ></script>
</th:block>
<th:block layout:fragment="container">
    <h1>잘못된 접근입니다.</h1>
</th:block>
