@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-con{
    flex-basis: 1050px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid; */
}

.container-con .customer-op{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;    
    flex:1;
    /* border: 1px solid; */
}

.container-con .customer-op .sec1-title{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
}

.container-con .customer-op .sec2-op{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cccccc;
    margin: 0 0 30px 0;
}

.container-con .customer-op .sec2-op>ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.container-con .customer-op .sec2-op>ul>li:nth-child(1)>button{
    box-sizing: border-box;
    background-color: rgb(194, 120, 194);
    width: 100%;
    padding: 10px;
    border: 0px;
    font-size: 16px;
}

.container-con .customer-op .sec2-op>ul>li>button{
    box-sizing: border-box;
    background-color:white;
    width: 100%;
    padding: 10px;
    border: 0px;
    font-size: 16px;
}

.container-con .customer-op .sec2-op>ul>li>button:hover{
    box-sizing: border-box;
    background-color: rgb(194, 120, 194);

}

.container-con .customer-op .sec2-op>ul>li>button:hover a{
    box-sizing: border-box;
    color: white;
    
}

.container-con .customer-op .sec2-op>ul>li>button>a>ul{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.container-con .customer-op .sec2-op>ul>li>button>a>ul img{
    width: 16px;
}

.container-con .customer-op .sec3-help{
    box-sizing: border-box;
    width: 100%;
}

.container-con .customer-op .sec3-help>button{
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border: 1px solid purple;
    border-radius: 4px;
    padding: 10px;
}

.container-con .customer-op .sec3-help>button>a{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


.container-con .customer-op .sec3-help>button>a .a-sec1>ul{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container-con .customer-op .sec3-help>button>a>img{
    box-sizing: border-box;
    width: 16px;
}



.container-con .postList{
    box-sizing: border-box;
    flex: 4;
    padding:10px;
    /* border: 1px solid; */
}

.container-con .postList .postList-con{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.container-con .postList .postList-con .postList-header{
    box-sizing: border-box;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.container-con .postList .postList-con .postList-header h1{
    box-sizing: border-box;
    padding: 0 0 7px 0;
    font-weight: bold;
}

.container-con .postList .postList-con .postList-header h4{
    box-sizing: border-box;
    padding: 0 0 5px 0;
    color: #cccccc;
}

.container-con .postList .postList-con .search{
    box-sizing: border-box;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.container-con .postList .postList-con .search .search-con{
    width: 50%;
}

.container-con .postList .postList-con .search .search1{
    /*width: 50%;*/
}

.container-con .postList .postList-con .search .insert-button{
    /*width: 30%;*/
    /*align-items: flex-end;*/
    /*justify-content: flex-end;*/
}

.container-con .postList .postList-con .search .insert{

    display: flex;
    /*flex-direction: column;*/
    justify-content: flex-end;
    align-items: flex-start ;
    padding: 0 10px;
}

.container-con .postList .postList-con .postList-container table{
    width: 100%;
}

.container-con .postList .postList-con .postList-container table thead{
    box-sizing: border-box;
    padding: 3px 0;
    border-bottom: 1px solid black;
    /*border: 1px solid black;*/
}

.container-con .postList .postList-con .postList-container table thead .th2{
    width: 100%;
    box-sizing: border-box;
    /*display: flex;*/
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid black;
    text-align: center;
    align-items: center;
    background-color:#cccccc;
}

.container-con .postList .postList-con .postList-container table thead tr.th2 th{
    /*padding: 10px;*/
}

.container-con .postList .postList-con .postList-container table tbody{
    align-items: center;
    text-align: center;

}
.container-con .postList .postList-con .postList-container table tbody tr td{
    padding: 10px 10px 10px 10px;
    /*gap: 10px;*/

}

.container-con .postList .postList-con .postList-container .paging{
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;
}
.container-con .postList .postList-con .postList-container .paging > ul{
    flex-basis: 400px;
    background-color: rgb(194, 120, 194);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.container-con .postList .postList-con .postList-container .paging > ul > li{
    background-color: #b716c5;
}
.container-con .postList .postList-con .postList-container .paging > ul > li.block{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.container-con .postList .postList-con .postList-container .paging > ul > li.block a{
    color: #ffffff;
    font-weight: bold ;
    background-color: #bbbbbb;
    padding: 0 10px;
    display: block;
}
.container-con .postList .postList-con .postList-container .paging > ul > li a{
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.container-con .postList .postList-con .postList-container .paging > ul > li span.span0{
    background-color: #000000;
    color: #cccccc;
    padding: 2px 10px;
    border-radius: 5px;
}
.container-con .postList .postList-con .postList-container .paging > ul > li span.span0{
    padding: 2px 10px;
    background-color: #bb41c4;
    color: #ffffff;
}



span.now{
    color:#ffffff;
    font-weight:bold;
    border-radius:10px;
    background-color:#0000ff;
    padding:0 10px;
    position:relative;
    cursor:pointer;
}
span.now::after{
    content:'▼';
    width:auto;
    padding:0 10px;
    color:#ffffff;
    background-color:#ff0000;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top:-20px;
    visibility:hidden;
    transition:all 0.1s;
}
span.now:hover::after{
    visibility:visible;
}





/*.container-con .postList .postList-con .postList-container table thead .th2 th:nth-child(1){*/
/*    flex: 1.5;*/
/*}*/

/*.container-con .postList .postList-con .postList-container table thead .th2 th:nth-child(2){*/
/*    flex: 6;*/
/*}*/

/*.container-con .postList .postList-con .postList-container table thead .th2 th:nth-child(3){*/
/*    flex: 1.5;*/
/*}*/

/*.container-con .postList .postList-con .postList-container table thead .th2 th:nth-child(4){*/
/*    flex: 2;*/
/*}*/

