@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

.container{
    width: 100%;
    height: auto;
}

.container-con{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 30px;
    /* border: 1px solid; */
}

.container-con .insert{
    flex-basis: 1000px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.container-con .insert .insert-con{
    box-sizing: border-box;
    width: 50%;
}

.container-con .insert .insert-con .insert-header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
}


.container-con .insert .insert-con .insert-header2 span:nth-child(1){
    color: red;
    font-size: 13px;
}

.container-con .insert .insert-con .insert-header2 span:nth-child(2){
    color: #727272;
    font-size: 16px;
}

.container-con .insert .insert-con form{
    width: 100%;
}

.container-con .insert .insert-con form>ul{
    box-sizing: border-box;
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.container-con .insert .insert-con form>ul>li{
    box-sizing: border-box;
    padding: 10px 1px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.container-con .insert .insert-con form>ul>li>label{
    flex: 1;
    font-weight: bold;
    padding: 10px 3px;
}

.container-con .insert .insert-con form>ul>li>label>span{
    color: red;
}

.container-con .insert .insert-con form>ul>li:not(:nth-child(5))>input{
    flex: 3;
    padding: 10px 3px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.container-con .insert .insert-con form>ul>li>button{
    flex: 1;
    border: 1px solid purple;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    color: purple;
    padding: 10px 3px;
}

.container-con .insert .insert-con form>ul>li>div{
    flex: 1;
}


.container-con .insert .insert-con form .go-insert{
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.container-con .insert .insert-con form .go-insert input{
    width: 200px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 2px;
    background-color: purple;
    color: white;
}





